<!doctype html>
<html lang="ru">
    <head>
        <title>Practice</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald:200,300,400" rel="stylesheet">
        <script src="../js/main.js"></script>
    </head>
    <body>
        <div id="main">
            <p class="header">Добро пожаловать в VCS Git.</p>
            <p class="txt-content">Вообще хуй знает, чё здесь написать.<br>Напишу вот так.</p>
        </div>
    </body>
</html>